<div class="card border-primary mb-3">
    <div class="card-header">
        <h3 id="blogTitle">Blog Title</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <img style="height:250px;" src="https://plus.unsplash.com/premium_photo-1671659205352-1c9aa30b6dc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Girl in a jacket">
                <figure class="text-center" style="margin-right: 50%;">
                    <blockquote class="blockquote">
                        <p class="mb-0">Place name.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Tokyo, <cite title="Source Title">Japan</cite>
                    </figcaption>
                </figure> 
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="d-flex">
                        <label for="blogDate" class="font-weight-bold">Date: </label>
                        <p id="blogDate">
                            12/01/1998
                        </p>
                    </div>
                </div>
                <div class="row" id="blogBudget">
                    <h5 class="card-title">Budget</h5>
                    <p class="card-text">
                        1000000000k
                    </p>
                </div>
                <div class="row" id="blogStay">
                    <h5 class="card-title">Stay</h5>
                    <p class="card-text">
                        Chickni-Chameli hotel
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="blogDescription">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>
        <div class="row">
                            <div id="blogThingsToDo">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                            <h5 class="card-title">Things To Do</h5>
                            <p class="card-text">
                                Ganja-Ganja
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">More Images</h5>
                    <p class="card-text">
                        <img style="height:100px;width:370px" src="https://plus.unsplash.com/premium_photo-1671659205352-1c9aa30b6dc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Girl in a jacket">
                    </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">More Images</h5>
                    <p class="card-text">
                        <img style="height:100px;width:370px" src="https://plus.unsplash.com/premium_photo-1671659205352-1c9aa30b6dc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Girl in a jacket">
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  