<form onsubmit="return updatePreview(this);" id="createBlogForm">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Basic Information
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-group">
                        <label for="blogTitle" class="form-label mt-4">Title</label>
                        <input name="blogTitle" type="text" placeholder="Title" id="inputblogTitle" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea" class="form-label mt-4">Description</label>
                        <textarea name="description" class="form-control" id="inputexampleTextarea" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="place" class="form-label mt-4">Place</label>
                        <input name="placename" type="text" class="form-control" id="inputplace" aria-describedby="emailHelp"
                            placeholder="Enter Place Name">
                    </div>
                    <div class="form-group">
                        <label for="city" class="form-label mt-4">City</label>
                        <input name="cityname" type="text" class="form-control" id="inputcity" placeholder="Enter City">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Country Name</label>
                        <input name="countryname" type="text" class="form-control" id="inputexampleInputPassword1"
                            placeholder="Enter Country">
                    </div>
                    <div class="form-group">
                        <label for="budget" class="form-label mt-4">Budget</label>
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" id="inputbudget" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                    </div>
                    <div class="form-group">
                        <fieldset class="form-group">
                            <legend class="mt-4">Category</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="inputoptionsRadios1"
                                    value="option1" checked="">
                                <label class="form-check-label" for="optionsRadios1">
                                    Hill-Station
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="inputoptionsRadios2"
                                    value="option2">
                                <label class="form-check-label" for="optionsRadios2">
                                    Beach
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="inputoptionsRadios3"
                                    value="option3">
                                <label class="form-check-label" for="optionsRadios3">
                                    Domestic
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optionsRadios" id="inputoptionsRadios3"
                                    value="option3">
                                <label class="form-check-label" for="optionsRadios3">
                                    International
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Media
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-group">
                        <label for="formFile" class="form-label mt-4">Add Title Image</label>
                        <input name="image" class="form-control" type="file" id="formFile">
                    </div>
                    <div class="form-group">
                        <label for="formFile" class="form-label mt-4">Add More Images</label>
                        <input name="eximg1" class="form-control" type="file" id="formFile">
                    </div>
                    <div class="form-group">
                        <label for="formFile" class="form-label mt-4">Add More Image</label>
                        <input name="eximg2" class="form-control" type="file" id="formFile">
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Add More Details
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Transport</label>
                        <input name="transport" type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Transport">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Things To Do</label>
                        <input name="todo" type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter To-Do">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Stay</label>
                        <input name="Stay" type="text" class="form-control" id="exampleInputPassword1"
                            placeholder="Stay">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Stay</label>
                        <input name="Date" type="Date" class="form-control" id="exampleInputPassword1"
                            placeholder="Date">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button type="submit" class="btn btn-primary" id="">Update Preview</button> -->
    <button type="submit" class="btn btn-primary mt-3">Update Preview</button>
</form>
<script>
    const form = document.getElementById("createBlogForm");
    function handleForm(event) { event.preventDefault(); } 
    form.addEventListener('submit', handleForm);
    function updatePreview(form) {
        console.log("Running with JS");
        for (let input of form) {
            console.log(input.name)
            if (input.tagName === "INPUT" && input.name && input.value) {
                const elem = document.getElementById(input.name);
                elem.innerHTML = input.value;
            }
        }
        return false;
    }
  </script>