<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head'); %>
    </head>
    <body>
        <%- include('common/nav'); %> 
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-between my-5">
                    <h1>
                        My Blogs
                    </h1>
                    <div class="form-group">
                        Filter By: 
                        <select class="form-select" id="myBlogsCategory" onchange="getBlogs('blogCategory',this.value)">
                            <option value="choose">Category</option>
                            <option value="hill">Hill Station</option>
                            <option value="beach">Beach</option>
                            <option value="domestic">Domestic</option>
                            <option value="international">International</option>
                        </select>
                      </div>
                </div>
            </div>
            <div id="previews" class="row">
            </div>
        </div>
    </body>
</html>
<script>
    getBlogs();
    function getMonth(no) {
        const months = ["JAN","FEB","MAR","APR","MAY","JUN","JUL","AUG","SEP","OCT","NOV","DEC"]
        return months[no-1]; 
    }
    function getBlogs(optionKey, optionValue) {
        const previewDiv = document.getElementById('previews');
        previewDiv.innerHTML = `
        <div class="w-50 d-flex justify-content-center">
            <div class="progress  progress-striped active ">
                <div class="progress-bar progress-bar-striped indeterminate" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>`;
        let URL = 'http://localhost:3000/api/blogs';
        if(optionKey && optionValue!=='choose'){
            URL+='?'+optionKey+'='+optionValue
        }
        fetch(URL)
            .then(res => res.json())
            .then(function(response) {
            let innerHtml = '';
            previewDiv.innerHTML = '';
            response.forEach(async function(res) {
                let transport = 
                    res.blogTransport === 'Train' 
                        ? '<i class="fa-solid fa-train-subway"></i>' : 
                        res.blogTransport === 'Car' 
                            ? '<i class="fa-solid fa-car"></i>' : 
                            '<i class="fa-solid fa-jet-fighter-up"></i>';
                const category = res.blogCategory === 'hill' ? '<i class="fa-solid fa-mountain"></i>' : '<i class="fa-solid fa-umbrella-beach"></i>' 
                const date = res.blogDate.split('-');
                const str = `
                <div class='col-md-3'>
                    <figure class="snip1527 card">
                    <div class="image"><img src="${`/static/assets/imgs/${res.blogTitleImg}`}"  alt="pr-sample23" /></div>
                    <figcaption>
                        <div class="date"><span class="day">${date[2]}</span><span class="month">${getMonth(date[1])}</span></div>
                        <h3>${res.blogTitle}</h3> 
                        <p>${transport} ${category}</p>
                        <p>
                            ₹ ${res.blogBudget}
                        </p>
                    </figcaption>
                    <a href="#"></a>
                </figure>
                </div>`
                innerHtml+=str;
            });
            previewDiv.innerHTML = innerHtml;
        });
    }
</script>