<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head'); %>
    </head>
    <body>
        <%- include('common/nav'); %> 
        <div class="container">
            <div class="row">
                <div class="d-flex">
                    <h1 class="my-3 d-flex-start">
                        My Blogs
                    </h1>
                    <div class="form-group d-flex-end">
                        <select class="form-select" id="myBlogsCategory" onchange="getBlogs('category',this.value)">
                            <option>Choose a category</option>
                            <option value="hill">Hill Station</option>
                            <option value="beach">Beach</option>
                            <option value="domestic">Domestic</option>
                            <option value="international">International</option>
                        </select>
                      </div>
                </div>
            </div>
            <div id="previews">
            </div>
        </div>
    </body>
</html>
<script>
    getBlogs();
    function getBlogs(optionKey, optionValue) {
        const previewDiv = document.getElementById('previews');
        let URL = 'http://localhost:3000/api/blogs';
        if(optionKey && optionValue){
            URL+='?'+optionKey+'='+optionValue
        }
        fetch(URL)
            .then(res => res.json())
            .then(function(response) {
            let innerHtml = '';
            response.forEach(async function(res) {
                // const meta = '<'+'%-'+" include('components/blogPreview') %"+'>';
                // const fn = ejs.compile(meta, {client: true})({
                //     blogMeta: JSON.stringify(res)
                // });
                // const t = fn();
                let str = `<div class="card border-primary mb-3" style="max-width: 20rem;">
                                <div class="card-header">${res.blogTitle}</div>
                                <div class="card-body">
                                <h4 class="card-title">
                                    ${res.category}
                                </h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>`
                innerHtml+=str;
            });
            previewDiv.innerHTML = innerHtml;
        });
    }
</script>