<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head'); %>
    </head>
    <body>
        <%- include('common/nav'); %> 
        <div class="container">
            <div class="row">
                <div class="d-flex justify-content-between">
                    <h1 class="my-3">
                        My Blogs
                    </h1>
                    <div class="my-3 form-group">
                        <select class="form-select" id="myBlogsCategory" onchange="getBlogs('category',this.value)">
                            <option value="choose">Choose a category</option>
                            <option value="hill">Hill Station</option>
                            <option value="beach">Beach</option>
                            <option value="domestic">Domestic</option>
                            <option value="international">International</option>
                        </select>
                      </div>
                </div>
            </div>
            <div id="previews" class="grid">
            </div>
        </div>
    </body>
</html>
<script>
    getBlogs();
    function getBlogs(optionKey, optionValue) {
        const previewDiv = document.getElementById('previews');
        let URL = 'http://localhost:3000/api/blogs';
        if(optionKey && optionValue!=='choose'){
            URL+='?'+optionKey+'='+optionValue
        }
        fetch(URL)
            .then(res => res.json())
            .then(function(response) {
            let innerHtml = '';
            response.forEach(async function(res) {
                // const meta = '<'+'%-'+" include('components/blogPreview') %"+'>';
                // const fn = ejs.compile(meta, {client: true})({
                //     blogMeta: JSON.stringify(res)
                // });
                // const t = fn();
                let transport = 
                    res.transport === 'Train' 
                        ? '<i class="fa-solid fa-train-subway"></i>' : 
                        res.transport === 'Car' 
                            ? '<i class="fa-solid fa-car"></i>' : 
                            '<i class="fa-solid fa-jet-fighter-up"></i>';
                let category = res.category === 'hill' ? '<i class="fa-solid fa-mountain"></i>' : '<i class="fa-solid fa-umbrella-beach"></i>' 
                let str = `<div class='col-md-3'><div class="card border-primary mb-3">
                                <div class="card-header d-flex justify-content-between">
                                    <div>
                                        ${res.blogTitle}
                                    </div>
                                    <div>
                                        ₹ ${res.budget}
                                    </div>
                                </div>
                                <div class="card-body" style="height:250px">
                                    <div>
                                        ${transport} ${category}
                                    </div>
                                </div>
                            </div>
                        </div>`
                innerHtml+=str;
            });
            previewDiv.innerHTML = innerHtml;
        });
    }
</script>